<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {%- seo -%}
    <link rel="stylesheet" href="{{ "/assets/css/fonts.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/custom_style.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/bootstrap.min.css" | relative_url }}">
    <script defer src="{{ "/assets/js/bootstrap.bundle.min.js" | relative_url }}"></script>
    <script defer src="{{ "/assets/js/fontawesome.min.js" | relative_url }}"></script>
    <script defer src="{{ "/assets/js/solid.min.js" | relative_url }}"></script>
    <script defer src="{{ "/assets/js/brands.min.js" | relative_url }}"></script>
    {%- feed_meta -%}    
  </head>