
/* ----- Font Families ----- */
@font-face {
    font-family: 'Merriweather-Light';
    src: url('/assets/fonts/Merriweather-Light.ttf') format('truetype');
    font-weight: light;
    font-style: normal;
  }
@font-face {
    font-family: 'Merriweather-Regular';
    src: url('/assets/fonts/Merriweather-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
@font-face {
    font-family: 'Merriweather-Bold';
    src: url('/assets/fonts/Merriweather-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }