---
layout: base
---

<div class="container px-4">
    <div id="about" class="row gx-5">
        <div class="col-md-3 justify-content-center">
            {%- if site.profile_img -%}
                <img src="{{ site.profile_img }}" class="rounded-circle p-4 mb-4 mt-5">
            {%- endif -%}
            {%- if site.title_with_suffix -%}
                <h2 class="mb-3 text-center lh-base">{{ site.title_with_suffix }}</h2>
            {%- else -%}
                <h2 class="mb-3 text-center lh-base">{{ site.title }}</h2>
            {%- endif -%}
            {%- if site.subtitle_1 -%}
                <h5 class="mb-3 text-center lh-base text-muted">{{ site.subtitle_1 }}</h5>
            {%- endif -%}
            {%- if site.subtitle_2 -%}
                <h5 class="text-center lh-base text-muted">{{ site.subtitle_2 }}</h5>
            {%- endif -%}
            {%- if site.subtitle_3 -%}
                <h5 class="text-center lh-base text-muted">{{ site.subtitle_3 }}</h5>
            {%- endif -%}
            <div class="text-center text-primary mt-4">
                {%- if site.email -%}
                    <a href="mailto:{{ site.email }}" class="text-decoration-none">
                        <i class="fa-solid fa-envelope fa-2xl"></i>
                    </a>
                {%- endif -%}
                {%- if site.twitter_username -%}
                    <a href="https://twitter.com/{{ site.twitter_username }}" class="text-decoration-none ms-2">
                        <i class="fa-brands fa-twitter fa-2xl"></i>
                    </a>
                {%- endif -%}
                {%- if site.github_username -%}
                    <a href="https://github.com/{{ site.github_username }}" class="text-decoration-none ms-2">
                        <i class="fa-brands fa-github fa-2xl"></i>
                    </a>
                {%- endif -%}
                {%- if site.googlescholar_username -%}
                    <a href="https://scholar.google.com/citations?user={{ site.googlescholar_username }}" class="text-decoration-none ms-2">
                        <i class="fa-solid fa-user-graduate fa-2xl"></i>
                    </a>
                {%- endif -%}
                {%- if site.researchgate_username -%}
                    <a href="https://www.researchgate.net/scientific-contributions/{{ site.researchgate_username }}" class="text-decoration-none ms-2">
                        <i class="fa-brands fa-researchgate fa-2xl"></i>
                    </a>
                {%- endif -%}
                {%- if site.orcid_username -%}
                    <a href="https://orcid.org/{{ site.orcid_username }}" class="text-decoration-none ms-2">
                        <i class="fa-brands fa-orcid fa-2xl"></i>
                    </a>
                {%- endif -%}
            </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-8 fs-5 lh-lg mt-5 mt-md-2">
            <h1 class="my-5">{{ site.biography_title }}</h1>
            {{ content }}
            <div class="row">
            {%- if site.interests -%}
                <div class="col-md-6">
                    <h3 class="mt-5 mb-3">Interests</h3>
                    <ul class="fs-6">
                    {%- for interest in site.interests -%}
                    <li>{{ interest }}</li>
                    {%- endfor -%}
                    </ul>
                </div>
            {%- endif -%}
            {%- if site.education -%}
                <div class="col-md-6">
                    <h3 class="mt-5 mb-3">Education</h1>
                    <ul class="fs-6 list-unstyled">
                    {%- for education in site.education -%}
                    <li>
                        <i class="fa-solid fa-graduation-cap fa-xl me-3 ms-0"></i>{{ education.title }}
                        <br>
                        <span class="text-muted ms-5">{{ education.detail }}</span>
                    </li>
                    {%- endfor -%}
                    </ul>
                </div>
            {%- endif -%}
            </div>
        </div>
    </div>

    {%- if site.publications -%}
    <div id="publications" class="row gx-5 bg-light py-5 my-5">
        <div class="col-md-3 justify-content-center">
            <h1 class="mb-3 lh-base">Selected Publications</h1>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-8 fs-5 lh-lg mt-5 mt-md-2">
            <ul class="list-unstyled">
            {% for publication in site.pages %}
            {%- if publication.selected -%}
            <li class="mb-5">
                <h2>
                <a class="text-decoration-none fw-bold" href="{{ publication.url | relative_url }}">
                    {{ publication.title | escape }}
                </a>
                </h2>
                <span class="fst-italic text-muted fs-5">{{ publication.authors }}</span>
                <br>
                <span class="fs-5 fw-bold text-muted">
                {{ publication.publication }} | {{ publication.date }}</span>
                <br>
                <span class="fs-5">{{ publication.description }} </span><a class="text-decoration-none" href="{{ publication.url | relative_url }}">
                    continue reading...
                </a>
            </li>
            {%- endif -%}
            {%- endfor -%}
            </ul>
        </div>
    </div>
    {%- endif -%}

    {% assign posts = site.posts %}
    {%- if posts.size > 0 -%}
    <div id="posts" class="row gx-5 py-5 my-5">
        <div class="col-md-3 justify-content-center">
            <h1 class="mb-3 lh-base">Recent Posts</h1>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-8 fs-5 lh-lg mt-5 mt-md-2">
            {%- if page.list_title -%}
            <h2 class="post-list-heading">{{ page.list_title }}</h2>
            {%- endif -%}
            <ul class="post-list">
            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
            {%- for post in posts -%}
            <li>
                <span class="post-meta">{{ post.date | date: date_format }}</span>
                <h3>
                <a class="post-link" href="{{ post.url | relative_url }}">
                    {{ post.title | escape }}
                </a>
                </h3>
                {%- if site.show_excerpts -%}
                {{ post.excerpt }}
                {%- endif -%}
            </li>
            {%- endfor -%}
            </ul>
        </div>
    </div>
    {%- endif -%}

    <div id="contact" class="row gx-5 py-5 my-5 bg-light">
        <div class="col-md-3 justify-content-center">
            <h1 class="mb-3 lh-base">Contact</h1>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-8 fs-5 lh-lg mt-5 mt-md-2">
            {%- if site.email -%}
                <div class="my-3">
                    <i class="fa-solid fa-envelope fa-xl me-5"></i>  <a href="mailto:{{ site.email }}" class="text-decoration-none fs-6">{{ site.email }}</a>
                </div>
            {%- endif -%}
            {%- if site.phone -%}
                <div class="my-3">
                    <i class="fa-solid fa-phone fa-xl ms-1 me-5"></i>  {{ site.phone }}
                </div>
            {%- endif -%}
            {%- if site.address -%}
                <div class="my-3">
                    <i class="fa-solid fa-location-dot fa-xl ms-1 me-5"></i><span class="fs-6 ms-2">{{ site.address }}</span>
                </div>
            {%- endif -%}
            {%- if site.map -%}
                <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
                integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
                crossorigin=""/>
                <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
                integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
                crossorigin=""></script>
                <div id="map" class="my-5"></div>
                <style>#map { height: 300px; }</style>
                <script>
                    var map = L.map('map').setView([{{ site.map }}], 16);
                    L.tileLayer('https://{s}.tile.opentopomap.org/{z}/{x}/{y}.png', {
                        maxZoom: 17,
                        attribution: 'Map data: &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, <a href="http://viewfinderpanoramas.org">SRTM</a> | Map style: &copy; <a href="https://opentopomap.org">OpenTopoMap</a> (<a href="https://creativecommons.org/licenses/by-sa/3.0/">CC-BY-SA</a>)'
                    }).addTo(map);
                    var marker = L.marker([{{ site.map }}]).addTo(map);
                </script>
            {%- endif -%}
        </div>
    </div>

</div>